server:
  port: 4004

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: patient-service-route
          uri: http://patient-app:4000
          predicates:
            - Path=/patients/**
          filters:
            - StripPrefix=1
        - id: billing-service-route
          uri: http://billing-service:9001
          predicates:
            - Path=/billing/**
